.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;z-index:100}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@keyframes pulse{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.pulse{-webkit-animation-name:pulse;animation-name:pulse}
html,body{height:100%;}
*{margin:0;padding:0;font-family: "IBM Plex Sans JP", sans-serif;}
.hidden{display:none}
.content{position:relative;top:0;z-index:2;width:100%;max-width:100%;box-sizing:border-box;margin:0 auto;}
.content .head .row{width:100%; max-width:100%; margin:0 auto;height: 380px; position: relative; overflow: hidden;box-sizing:border-box;}
.content .head .data-bg{background: url(/static/images/bg_02.webp) no-repeat;width:100%;height:485px; background-size: cover;}
.main {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: scroll;
  height: 100%;
  position: relative;
  background: linear-gradient(to left, #042c89, #431989);
  background-size: cover;
  min-height: 3000px;
  padding-bottom: 390px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.head{color:#020100;width:100%;}
li{list-style:none;float:left;font-size:26px;height:567px;}
.h_l{float:left;width:40%;max-width:298px;}
.h_r{margin-left:42%;border-left:1px solid white;}
.h_r li{width:20%;margin-left:12%;margin-bottom:16px;font-size:30px}
.center{text-align:center;}
.white{color:white;}
.clear:after{display:block;content:"clear";height:0;clear:both;overflow:hidden;visibility:hidden;}
.c_b li{width:20%;margin-left:4%;font-size:26px;}
.c_b{margin-top:16px;border-top:1px solid white;padding-top:8px;}
.c_b ul{margin-top:4px;}
.bold{font-weight:bold}
.name{font-size:32px;}
.price{font-size:50px;color:#ffee2f;}
.change,.changesPercentage{font-size:28px;margin-left:11px;margin-right:11px;color:#ffee2f;}
.time,.date{font-size:18px;text-align:center;margin-top:10px;line-height:40px;color:#fff;font-weight: bold;}
.time_c{margin-top:8px;text-align:center}
.h_l>div{text-align:center;}
li .bold{line-height:1.6;}
.btnBg{background-image:url('/static/images/btn-bg.webp');width:90%;max-width:650px;height:78px;line-height:78px;margin:20px auto;background-size:100% 100%;font-size:36px;cursor:pointer;text-align:center;color: #030a3d;box-sizing:border-box;}
.btnBg span{color:#FFEB3B}
.tips{font-size:24px;}
.copyRight{font-size:12px;position:absolute;bottom:8px;width:100%;}
.gupiao{width:100%;max-width:230px;float: left;margin-top: 20px;}
.head td{height:36px;width:162px;text-align: center;font-size:22px;font-weight:normal;color:#fff;}
.head th{height:36px;width:160px;text-align: center;font-size:22px;font-weight:normal;color:#fff;}
.head .border{border-bottom: 1px solid #7b7b7b;}
.gName{font-size:40px;margin-bottom:5px; font-weight:bold; margin-top:18px; color:#fff;}
.gCode{font-size:42px;margin-bottom:-4px;color:#fff;}
.arrow{font-size:54px;font-weight:bold;color:rgb(255,0,0)}
.arrow img{height:44px;width:30px;}

.t1,.t2,.t3{float:left;text-align:center;}
.t1{width:100%;max-width:275px;height:222px;}

.t2{width:100%;max-width:275px;}
.tableBg{background-image:url('/static/images/tablebg.webp');width:100%;max-width:750px;height:340px;padding-top:72px;box-sizing:border-box;}
.tableList{text-align:center;width:100%;font-size:24px;color:#545455;transition:all .5s;}
.tableList td{min-width:100px;height:64px;}
.tableCon{height:340px;overflow:hidden;}
.stockinfo{width:100%;max-width:380px;margin-left:10px; float: left;margin-top:15px;box-sizing:border-box;}

.lwtop .bottom{position: absolute;bottom: 40px;left: 50%;width: 80%;margin-left: -40%; text-align: right;color:#fff;font-size: 15px;}
.zhegai{width:100%;height:100%;background-color:rgba(0,0,0,0.8);position:fixed;top:0;left:0;z-index:20;display:none;}

.tan_title{text-align:center;color:#ef5456}
.barbox div.barline div.charts{background:#ffd14f;border-radius:100px;overflow:hidden;height:35px;margin-top: 5px;
    margin-bottom: 5px;}
.barbox div.barline div.charts1 {
    background: #ff7f50;
    border-radius: 100px;
    overflow: hidden;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.barbox div.barline div.charts2 {
    background: #87cefa;
    border-radius: 100px;
    overflow: hidden;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.barbox div.barline{width:100%;max-width:353px;height:35px;background-size:100% 100%;box-sizing:border-box;}
.tan_div {height: 100%;width: 100%;display: none;position: fixed!important;left: 0;top: 0;z-index: 999;color: #333}
.box_bg80 {background: rgba(0, 0, 0, 0.8);filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#8F000000, endcolorstr=#8F000000);}
.tan_content {background: #fff;border: solid #ffd14f 8px;top: 25%;position: absolute;left: 50%;transform: translateX(-50%);-webkit-box-shadow: 0 0 20px #000;-moz-box-shadow: 0 0 20px #000;box-shadow: 0 0 20px #000;box-sizing:border-box;}
.barbox{margin-top:0;position: absolute;left: 50%;transform: translateX(-50%);width:100%;max-width:400px;box-sizing:border-box;}
.tan_title{font-size: 18px;padding: 20px 20px 0 20px;padding-bottom:20px;}
.Land_li_input input{border-radius:24px;text-align:center;width:90%;max-width:560px;height:91px;font-size:40px;box-sizing:border-box;}
.land_btn{width:100%;padding-top:0;margin-top:24px;}
.tan_close {width: 49px;height: 49px;background: url(/static/images/close_02.webp);background-size: 100%;position: absolute;bottom: -60px;left: 45%;}
.discuss{display:inline-block;font-size: 1.8rem;padding-bottom: 3rem;padding-top: 3rem;}
.tan_400{width:100%;max-width:650px;margin-left:0;min-height:600px;box-sizing:border-box;}
.discuss{color:#ef5456;}
.dialog5{position: fixed;top: 25%;left: 50%;transform: translateX(-50%);width: 90%;max-width: 700px;height: 750px;max-height:85vh;background: url(/static/images/dialog5.webp) no-repeat;z-index: 1000;background-size:100% 100%;display: none;box-sizing:border-box;}
.dialog5_input{display: block;width:90%;max-width:560px;height: 63px;line-height:63px;border: 1px solid #b5b5b5;outline: 0;margin: 150px auto 0;font-size: 32px;border-radius: 12px;box-sizing:border-box;}
.dialog5_btn{width:90%;max-width:560px;height: 63px;line-height: 63px;font-weight: bold;font-size: 1.6rem;color: #fff;letter-spacing: 3px;cursor: pointer;margin: 20px auto 0;background: url(/static/images/tc-btn_03.webp) no-repeat;background-size: 100% 63px;box-sizing:border-box;}
.result{font-size:36px;color:#666;margin-top:32px; padding-top:30px; color:#fff;}
.cName{font-size:44px;color:#f90303;margin-right:10px;font-weight:bold;}
.zhegai{width:100%;height:100%;background-color:rgba(0,0,0,0.8);position:fixed;top:0;left:0;z-index:20;display:none;}

.lwtop{background-size: 100% auto;height:600px; position: relative;}
.lwtop img{ width:100%; display:block;}
.lvtt{padding:2.75rem 3% 5rem; }
.lvtt .bk{ width: 57%; max-width: 100%; position: absolute;left: 50%;top:41px; transform: translateX(-50%); margin-left: 0;box-sizing:border-box;}
.lvtt .num{ display: block; width: 4rem; height: 4rem; position: absolute; top:8%; right: 2.5%;}
.lvtt .le,.lvtt .sx{ width: 54%; max-width: 100%; position: absolute; top:7%; left: 50%; transform: translateX(-50%); margin-left: 0;box-sizing:border-box;} 
.lvtt .bt{ position: absolute; width: 94%; max-width: 100%; left: 50%; transform: translateX(-50%); bottom:0px;box-sizing:border-box;}
.lvtt i{display: block; position: absolute; width: 2rem; height: 2rem; font-size: .85rem; color: #fff; text-align: center; line-height: 2rem; top:11%; right: 5%;text-decoration:none;}
.lvtt i code{ font-size:14px;color:#0094ef; text-decoration:none;}
.onlineBlock  #number{color: #fffc00;margin: 0 0.3rem;}
.lvtt .bk{ animation: rood 20s linear infinite;-webkit-animation: rood 20s linear  infinite;}
.lvtt .sx{ animation: rrood 2s linear infinite;-webkit-animation: rrood 2s linear  infinite;}
.lvtt .num,.lwc21 i{ animation: rood 10s linear infinite;-webkit-animation: rood 10s linear  infinite;}

.lwc2{width: 100%;max-width:100%;box-sizing:border-box;overflow:hidden;}
.lwc2 .btnBox-bg{width: 100%;height: 150px;}
.btnBox-bg .heade_bottom{width:100%; text-align: center;font-size: 18px;color:#fff;margin-top: 36px;}
.btnBox-bg .heade_bottom span{color:#dc3825;}
.btnBox-bg .heade_bottom b{color:#dc3825}
.btnBox-bg .heade_bottom strong{color: #dc3825;}

.lwc21{position: relative;width: 100%;max-width:100%;box-sizing:border-box;overflow:hidden;}
.lwc21 .btn_sz{width:100%;max-width:365px;height:421px; position: absolute;top:34px;left: 50%; transform: translateX(-50%); background: url(/static/images/btn_sz.webp) no-repeat; background-size: cover;box-sizing:border-box;}

.legal-disclosure{width:100%;max-width:100%;padding:30px 20px;margin-top:40px;background:rgba(255,255,255,0.95);border-radius:12px;box-sizing:border-box;margin-bottom:20px;}
.legal-disclosure h3{text-align:center;color:#030a3d;font-size:20px;font-weight:bold;margin-bottom:25px;border-bottom:2px solid #FFD54F;padding-bottom:12px;}
.legal-disclosure h4{color:#1976D2;font-size:15px;font-weight:bold;margin-top:18px;margin-bottom:8px;line-height:1.4;}
.legal-disclosure .disclosure-section{margin-bottom:18px;padding:12px 0;border-bottom:1px solid rgba(0,0,0,0.08);}
.legal-disclosure .disclosure-section:last-child{border-bottom:none;}
.legal-disclosure p{color:#333;font-size:13px;line-height:1.8;margin:6px 0;text-align:left;}
.footer{width:100%;max-width:100%;bottom: 0px;position:a;box-sizing:border-box;}
.footer h2{ text-align:center;color:#363636; font-size:18px;} 
.footer p{ font-size:14px;color:white; text-align:center; line-height:30px;}
.footer p a{ font-size:18px;color:white; text-align:center; line-height:30px;}
@-moz-keyframes rood{
  from{ transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@-webkit-keyframes rood{
  from{ -webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rrood{
  from{ transform: rotate(0deg);}
  to{transform: rotate(-360deg);}
}
@-webkit-keyframes rrood{
  from{ -webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(-360deg);}
}

.top-code-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 18%;
    z-index: 5;
    text-align: center;
}
.top-code-name span {
    display: inline-block;
    letter-spacing: 4px;
    vertical-align: bottom;
}
.top-code-name .tcn-s1 {
    font-size: 36px;
    color: #fff;
}
.top-code-name .tcn-s2 {
    margin: 0 10px;
    font-size: 48px;
    color: #f9eb0f;
}
.table1bg { background: url('/static/images/table1.webp'); width: 100%; max-width: 700px; height: 317px; margin:0 auto; color: #422a01; font-size: 30px; padding-top: 80px; background-size: contain; background-repeat: no-repeat; background-position: center; box-sizing: border-box; }
.table1bg td { height: 105px; }
.table1bg .td1 { width: 204px; text-align: center; font-size: 28px; }
.table1bg .td1 span { font-size: 26px; }
.table1bg .td2 { padding-left: 32px; text-align: left;}
.tableOverflow {
    overflow: hidden;
    height: 312px;
}
.tableList { text-align: center; width: 100%; font-size: 28px; color: #545455; transition: all .5s; }
.tableList td { min-width: 100px;}
.red { color: #cf3c56 }
.green { color: #1dbf60 }
.error-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #000;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	max-width: 90%;
	text-align: center;
	transition: opacity 0.5s ease;
	display: none;
	z-index: 9999;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.disclaimer p{
  font-size:13px;
}
.footitem p{
  font-size:13px;
}